{{ header }}
"""The clients of the MAWAQIT API."""

from __future__ import annotations

from functools import cached_property

from ._base_client import AsyncAPIClient, SyncAPIClient
from .resources import {% for r in resources %}Async{{ r.name }}, {{ r.name }}{{ ", " if not loop.last }}{% endfor %}

__all__ = ["AsyncMawaqitClient", "MawaqitClient"]


class AsyncMawaqitClient(AsyncAPIClient):
    """The async client of the MAWAQIT API.

    Example:
        ```python
        async with AsyncMawaqitClient(token="...") as client:
            mosques = await client.mosques.search(word="paris")
            prayer_times = await client.mosques.prayer_times(mosques[0].uuid)
        ```
    """
{% for resource in resources %}

    @cached_property
    def {{ resource.module }}(self) -> Async{{ resource.name }}:
        """{{ resource.doc }}"""
        return Async{{ resource.name }}(self)
{% endfor %}


class MawaqitClient(SyncAPIClient):
    """The sync client of the MAWAQIT API.

    Example:
        ```python
        with MawaqitClient(token="...") as client:
            mosques = client.mosques.search(word="paris")
            prayer_times = client.mosques.prayer_times(mosques[0].uuid)
        ```
    """
{% for resource in resources %}

    @cached_property
    def {{ resource.module }}(self) -> {{ resource.name }}:
        """{{ resource.doc }}"""
        return {{ resource.name }}(self)
{% endfor %}
