{{ header }}
"""The models of the MAWAQIT API responses."""

from __future__ import annotations

from datetime import date

from pydantic import Field

from ._models import BaseModel

__all__ = [
{% for model in models %}
    "{{ model.name }}",
{% endfor %}
]
{% for model in models %}


class {{ model.name }}(BaseModel):
    """{{ model.doc }}"""
{% for field in model.fields %}

{% set options = [] %}
{% if not field.required %}{% set _ = options.append("default=None") %}{% endif %}
{# Not alias=: type checkers would then expect the alias in __init__. #}
{% if field.alias %}{% set _ = options.append('validation_alias="' ~ field.alias ~ '", serialization_alias="' ~ field.alias ~ '"') %}{% endif %}
{% if field.deprecated %}{% set _ = options.append('deprecated="' ~ field.deprecated ~ '"') %}{% endif %}
{% if options == ["default=None"] %}
    {{ field.name }}: {{ field.type }} = None
{% elif options %}
    {{ field.name }}: {{ field.type }} = Field({{ options | join(", ") }})
{% else %}
    {{ field.name }}: {{ field.type }}
{% endif %}
    """{{ field.doc }}"""
{% endfor %}
{% endfor %}
